<section class="hero" id="home" style="background-image: url('assets/images/hero-banner.png')">
  <div class="container">
      <div class="hero-content">
                  <h2 class="h1 hero-title">
                      <span>tsundoku<br /></span> todos tus libros en un solo lugar
                  </h2>
                  <p class="hero-subtitle">
                      ✦ Organiza todos tus libros en tu estantería virtual.
                      <br>
                      ✦ Realiza un seguimiento de tu progreso de lectura.
                      <br>
                      ✦ Crea listas de deseos de los libros que deseas leer.
                      <br>
                      ✦ Descubre nuevas lecturas & recomendaciones.
                  </p>
                  <div class="btn row">
                      <a href="register.html" class="row">Crear cuenta</a>
                      <a href="login.html" class="row">Iniciar sesión</a>
                  </div>
      </div>
  </div>
</section>
