/* main css */

/** copyright 2024 gonzalezseledev */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* font-family: 'Poppins', sans-serif; */


/* custom property */

:root {
    --primary-color: #606BDA;
    --secondary-color: #6B48FF;
    --primary-color-dark: #170E75;
    --text-dark: #08070B;
    --text-light: #6b7280;
    --extra-light: #F7F7FC;

        /**
    * transition
    */

    --transition-1: 0.25s ease;
    --transition-2: 0.75s ease;
    --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);

    /**
    * spacing
    */

    --section-padding: 60px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    color: var(--text-dark);
    scroll-behavior: smooth;
  }

body {
    background-color: var(--extra-light);
    padding-block: 70px;
}

li { list-style: none;}

a { text-decoration: none; }

a,
img,
span,
input,
button,
ion-icon { display: block; }

input,
button {
  background: none;
  border: none;
  font: inherit;
}

button { cursor: pointer;}

img { height: auto; }

ion-icon { pointer-events: none; }


/* reused style */

.row { display: flex;}

/* .container {
    max-width: 90%;
    margin: 0 auto;
} */

.container { padding-inline: 15px; }

a, button { transition: var(--transition-1); }

.section { padding-block: var(--section-padding); }

.w-100 { width: 100%; }

/* buttons */

.btn {
    gap: 2em;
    align-items: center;
    flex-wrap: wrap;
}

.btn a {
    align-items: center;
    gap: 0.5em;
    font-size: 16px;
    color: var(--extra-light);
    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
}

.btn a:nth-of-type(2) {
    color: var(--text-dark);
    background-color: var(--extra-light);
}

.btn a:hover {
    color: var(--extra-light);
    background-color: var(--primary-color-dark);
} 

.btn a:nth-of-type(2):hover{ 
    color: var(--text-dark);
    background-color: var(--extra-light); 
    border: 1px solid var(--primary-color-dark);
}


/* scrollbar */

::-webkit-scrollbar{
    width: .6rem;
    background-color: var(--text-dark);
}

::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--primary-color);
}


/* selection */